input{
    margin: 10px;
    padding: 5px 10px;
    font-size: 20px;
    background-color: #ADD7F6;
}

.form{
    font-size: 20px;
}

.form button{
    padding: 3px 10px;
    text-transform: uppercase;
    margin: 20px;
    font-size: 20px;
}

.addBtn{
    border-radius: 10rem;
    color: #fff;
    cursor: pointer;
    background-color: #2667FF;
    letter-spacing: .15rem;
    transition: 0.3s;
}

.addBtn:hover{
    background-color: #ADD7F6;
    color: #000;
}

.labelSpec{
    margin-right: 25px;
}

