.mbtn{
    padding: 2px 5px;
    background-color: #deeaee;
    cursor: pointer;
    margin-left: 5px;
    border: 2px solid black;
}


.liMovie{
    margin-bottom: 10px;
}

.oneMovieA{
    width: 40%;
    margin: auto;
    padding: 10px 3px;
    border: 2px solid black;
    background-color: #deeaee;
}

.oneMovieF{
    width: 30%;
    margin: auto;
    padding: 1px 1px;
    border: 2px solid black;
    background-color: #deeaee;
}