.mbtn{
    padding: 2px 5px;
    background-color: #deeaee;
    cursor: pointer;
    margin-left: 5px;
    border: 2px solid black;
    border-radius: 10rem;
    text-transform: uppercase;
    background-color: #2667FF;
    letter-spacing: .15rem;
    transition: 0.3s;
    color: #fff;
}

.mbtn:hover{
    background-color: #ADD7F6;
    color: #000;
}

.mbtnx{
    padding: 2px 5px;
    background-color: #deeaee;
    cursor: pointer;
    margin-left: 5px;
    border: 2px solid black;
    background-color: lightcoral;
    transition: 0.3s;
}

.mbtnx:hover{
    background-color: red;
}

.liMovie{
    margin-bottom: 10px;
}

.oneMovieA{
    width: 45%;
    margin: auto;
    padding: 10px 3px;
    border: 2px solid black;
    background-color: #87BFFF;
}

.oneMovieF{
    width: 30%;
    margin: auto;
    padding: 1px 1px;
    border: 2px solid black;
    background-color: #87BFFF;
}